* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Tahoma, sans-serif;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

/* Navbar */
header nav {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(9, 87, 151);
  color: white;
  font-size: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0 15px;
}

.nav_home_icon {
  margin-right: 10px;
}

nav p {
  font-size: 17px;
  font-weight: bold;
}

.burger_menu {
  margin-left: auto;
  cursor: pointer;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("images/gambar_1.jpg") center/cover no-repeat;
  padding: 0 10px;
}

.hero-section .judul {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-section .sub-judul {
  font-size: 14px;
  background-color: #d3e0fa;
  color: black;
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn-konsultasi {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(9, 87, 151);
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn-konsultasi:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Tentang Kami */
.about {
  margin: 30px 0 30px;
}
.tentang_kami {
  text-align: center;
  font-size: 25px;
  color: rgb(54, 53, 53);
}

.visi_misi {
  margin: 40px 20px;
}

.visi_misi article {
  margin-bottom: 30px;
}

.visi_misi h3 {
  color: rgb(9, 87, 151);
  margin-bottom: 10px;
}

.visi_misi p {
  color: dimgray;
  line-height: 1.5;
}

/* Stats */
.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 280px;
  height: 200px;
  margin: 40px auto;
  background-color: #d3e0fa;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.stats-item h3 {
  font-size: 23px;
  color: rgb(9, 87, 151);
  margin-bottom: 5px;
}

.stats-item p {
  font-size: 14px;
  color: rgb(54, 53, 53);
}

/* Layanan */
.service-section {
  margin: 30px 0 30px;
  background-color: rgb(9, 87, 151);
}
.layanan {
  text-align: center;
  font-size: 25px;
  color: white;
  padding: 30px 0px 30px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;
}

.service-item_2 {
  width: 280px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px 10px;
  transition: all 0.3s ease;
}

.service-item_2:hover {
  box-shadow: 0 6px 15px rgba(7, 40, 148, 0.3);
}

.service-item_2 img {
  width: 30%;
  margin-bottom: 20px;
}

/* Properti Unggulan */
.superior-property-section {
  margin: 60px 0 35px;
}

.value {
  text-align: center;
  font-size: 25px;
  margin: 60px 0 35px;
  color: rgb(54, 53, 53);
}

.value-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.value_selling {
  width: 280px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: all 0.3s ease;
  padding-bottom: 20px;
}

.value_selling .property_img {
  width: 88%;
  display: block;
  margin: 15px auto 0;
  border-radius: 5px;
}

.value_selling h3 {
  font-size: 18px;
  margin: 25px 30px 0;
  color: rgb(54, 53, 53);
}

.value_selling h4 {
  font-size: 25px;
  margin: 15px 0 0 30px;
  color: rgb(9, 87, 151);
}

.home_location {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 10px 0 0 30px;
}

.home_location p {
  font-size: 15px;
  margin: 0;
}

.location_map {
  width: 16px;
  height: 16px;
}

.point_icon {
  display: flex;
  gap: 30px;
  margin: 12px 0 0 30px;
  font-size: 13px;
}

.icon_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.icon_item .top {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon_item p {
  margin: 0;
  font-size: 13px;
}

/* Tombol Hubungi */
.hubungi_sekarang {
  display: block;
  width: 225px;
  height: 40px;
  margin: 20px auto 0;
  background-color: rgb(9, 87, 151);
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.hubungi_sekarang:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Testimoni Klien */
.testimonial-section {
  margin: 60px 0 35px;
  background-color: rgb(9, 87, 151);
}

.testimonial-title {
  text-align: center;
  font-size: 25px;
  color: white;
  padding: 30px 0px 30px;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;
}

.testimonial-item {
  background-color: white;
  padding: 20px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.testimonial-item:hover {
  box-shadow: 0 6px 15px rgba(7, 40, 148, 0.3);
}

.testimonial-top {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.testimonial-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonial-client {
  font-size: 15px;
  color: rgb(54, 53, 53);
}

.testimonial-client p {
  font-size: 14px;
  margin: 2px 0 0 0;
}

.testimonial-name {
  margin: 0;
  font-weight: bold;
}

.testimonial-location {
  margin: 0;
  color: dimgray;
  font-size: 14px;
}

.testimonial-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: rgb(54, 53, 53);
}

/* Contact */
.contact {
  margin: 30px 0;
  padding: 40px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.contact-title {
  text-align: center;
  color: rgb(54, 53, 53);
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 600;
}

.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

form {
  background-color: white;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  width: 100%;
  transition: all 0.3s ease;
}

form:hover {
  box-shadow: 0 6px 15px rgba(7, 40, 148, 0.3);
}

input,
textarea {
  background-color: #d3e0fa;
  border: none;
  border-radius: 8px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  outline: none;
  transition: all 0.2s ease;
}

input:focus,
textarea:focus {
  background-color: #c4d5ff;
  box-shadow: 0 0 0 2px #9bb7ff;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.contact-information-title {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.contact-information-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px 0px 10px;
}

.contact-information-item {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 230px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-information-item h3 {
  color: #444;
  font-size: 18px;
  margin-bottom: 8px;
}

.contact-information-item span {
  color: #666;
  font-size: 16px;
}

.contact-information-item img {
  width: 50px;
  height: 50px;
}

/* footer */
.footer {
  background-color: #444;
  margin: 30px 0px 0px;
}
